<% title t(".title") %>

<% content_for :container_title do %>
  <h1>Assessoria jurídica gratuita</h1>
<% end %>

<% content_for :sidebar do %>
<h2>Destaques</h2>
 <div id="profile">
   <img alt="" src="http://graph.facebook.com/100001994980755/picture?type=square" width="50" class="avatar" /> <span class="name">Daniel Feio</span>
   <dl>
     <dt><span>Carteira OAB:</span> 14.446</dt>
     <dt><span>Cidade:</span> Belem-Pa</dt>
     <dt><span>Telefone:</span> 91 81177947</dt>
     <dt><span>E-mail:</span> dfeio@hotmail.com</dt>
     <dt><span>Índice:</span> 5,3 - Muito Bom</dt>
   </dl>
 </div>
 
 <div id="profile">
    <img alt="" src="http://graph.facebook.com/100001994980755/picture?type=square" width="50" class="avatar" /> <span class="name">Daniel Feio</span>
    <dl>
      <dt><span>Carteira OAB:</span> 14.446</dt>
      <dt><span>Cidade:</span> Belem-Pa</dt>
      <dt><span>Telefone:</span> 91 81177947</dt>
      <dt><span>E-mail:</span> dfeio@hotmail.com</dt>
      <dt><span>Índice:</span> 5,3 - Muito Bom</dt>
    </dl>
  </div>
<% end %>

<h2><%= t(".container_title") %></h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam augue lacus, pulvinar in facilisis quis, semper ac velit. Ut non feugiat ipsum. Donec dapibus nisi ut libero pretium venenatis mollis lorem dignissim. Pellentesque at nunc massa. Sed nec dolor quis ipsum blandit tincidunt. Phasellus a nibh orci, aliquet venenatis ante. Phasellus risus sem, ullamcorper sed convallis vitae, posuere vitae ligula. Donec semper sapien ac leo bibendum porttitor. Vestibulum gravida orci non massa scelerisque scelerisque. Curabitur commodo, est eu placerat semper, libero arcu rutrum mi, sit amet lobortis tortor felis a purus. Aliquam lorem nisl, imperdiet et vulputate nec, elementum a arcu. Aenean posuere, leo pulvinar tempus gravida, nunc felis vehicula sem, et sollicitudin orci leo eget dolor. Nunc mattis egestas euismod.
</p>

<p>
  Nunc lobortis, purus non sodales iaculis, massa sem vehicula massa, tincidunt ultricies eros justo at mauris. Aenean ultrices fermentum volutpat. Vivamus et euismod justo. Curabitur pretium urna vitae enim interdum malesuada. Donec libero felis, facilisis in tempor ac, mollis in turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque congue nunc eu tortor ultrices vel accumsan nisl posuere. Fusce sed augue adipiscing metus aliquet consectetur quis facilisis est. Curabitur imperdiet, risus id feugiat sagittis, eros ante ultrices arcu, a viverra risus arcu vel dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est elit, feugiat sit amet placerat quis, consectetur quis sem. Donec iaculis interdum egestas. Sed et erat non diam auctor pellentesque eget et lectus. Curabitur sodales lectus at lectus facilisis dignissim.
</p>

<p>
Nullam commodo mauris sed est lacinia bibendum. In quis ligula lorem, a ullamcorper purus. Aliquam molestie neque malesuada orci aliquam eget bibendum libero pretium. Vestibulum aliquam vehicula ante a pharetra. Maecenas blandit vestibulum eros sed blandit. Aliquam sit amet justo dui. Proin sed orci eget nisl iaculis posuere. Sed imperdiet, lectus et aliquet porta, urna justo accumsan nunc, sit amet facilisis tellus nibh vel neque. Fusce facilisis vulputate nisi, ut ullamcorper metus sagittis convallis. Quisque non orci ante, id dignissim massa. Vestibulum lobortis scelerisque ante. Quisque fermentum enim et eros vehicula egestas.
</p>


<style>
body#site p{
  margin: 1.4em 0;
  line-height: 1.4;
  font-size: 14px;
  text-align: justify;
}
section.profile img{
  border: 1px solid #CCC;
  padding: 1px;
  background-color: white;
}
span.name{
  font-size: 20px;
  padding-top: 2px;
  position: relative;
  bottom: 20px;
  padding-left: 10px;
}
</style>

