#profile {
	margin-bottom: 35px;
	margin-top: 25px;
	
  .avatar {
    border: solid 1px #999;
  }

  h1 {
    font-size: 40px;
    padding-top: 2px;
    a { color: #000; }
  }

  dt {
    
    width: 160px;
		
		span{
			font-weight: bold;
		}
		
  }

  dd {
    margin-left: 5px;
  }

  dd p:first-child {
    margin-top: 0;
  }

  dd, dt {
    padding-top: 5px;
  }

  .none {
    color: #999;
  }
}